html {scroll-behavior: smooth;}
body {font-family: 'bc', sans-serif; font-size: 1rem; color: var(--boja-tekst);}
a {color: var(--boja-tekst-svjetlija); transition: 0.3s;}
a:hover {color: var(--boja-tekst);}
a:hover, nav a:visited {text-decoration: none;}

header {background-color: white; height: 80px; transition: all 0.4s ease; z-index: 2;}
header.skrolanje {position: sticky; top:0; background-color: rgba(255,255,255,0.9); transition: all 0.4s ease;}
header.skrolanje .traka ul li.samo_desktop {display: none;}
header.skrolanje .traka nav.osnovno ul li:first-of-type a {margin-left: 5px; padding-right: 0;}
header.skrolanje .traka nav.osnovno ul li:first-of-type a svg {height: 30px; width: 30px;}
header #trazi {display: none; position: absolute; top: 0; left: 0; right: 0; background-color: white; height: 140px; transition: all 0.4s ease; z-index: 2;}
header #trazi section h4 {font-size: 0.8rem; font-weight: 100; text-transform: uppercase; color: var(--boja-tekst-svjetlija);}
header #trazi section > a {height: 30px; width: 30px;}
header #trazi section > a svg {height: 30px; width: 30px;}
header #trazi section svg {cursor: pointer;}
header > .pozadina {display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.41);}
header ul li a:hover {text-decoration: none; color: var(--boja-tekst-svjetlija);}
header ul li a svg {height: 20px; width: 20px;}
header .traka {align-items: center; padding: 5px 0; border-bottom: 1px solid var(--boja-granica);}
header .traka ul li {float: left; height: 30px; font-size: 0.8rem;}
header .traka ul li.samo_desktop a {cursor: initial;}
header .traka ul li a {display: inline-flex; align-items: center; padding-right: 10px; height: 30px; width: 100%;}
header .traka nav svg {margin-right: 5px;}
header .traka .osnovno {z-index: 0;}
header .traka .osnovno .hamburger-meni {text-transform: uppercase;}
header .traka .osnovno .hamburger-meni ul li {height: auto; width: 100%; padding: 5px; font-size: 1rem; font-weight: 100;}
header .traka .osnovno .hamburger-meni ul li a {align-items: stretch; justify-content: space-between; padding: 0 15px 0 15px; height: auto; width: 100%;}
header .traka .osnovno .hamburger-meni ul li a span {line-height: 30px;}
header .traka .osnovno .hamburger-meni ul li:first-of-type a {padding: 0;}
header .traka nav.info {z-index: 1;}
header .meni {border-bottom: 1px solid var(--boja-granica);}
header .meni nav {grid-column: 2 / 3;}
header .meni a {display: block; padding: 11px; font-size: 0.8rem; color: var(--boja-tekst);}
header .meni .menu-bar {display: flex; background-color: white; height: 39px;}
header .meni .menu-bar > li.trazi {margin-left: auto;}
header .meni .menu-bar > li .trazi {display: inline-flex; margin-left: auto;}
header .meni .menu-bar > li .trazi span {margin-right: 10px;}
header .meni .menu-bar > li > a {text-transform: uppercase;}
header .meni .menu-link {position: relative; background: white; transition: background 0.2s, color 0.2s; z-index: 1;}
header .meni .menu-link[aria-haspopup="true"] {padding-right: 40px;}
header .meni .menu-link[aria-haspopup="true"]:after {content: ""; position: absolute; top: 50%;  right: 20px; background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDesno.svg'); background-size: 0.8rem; height: 14px; width: 14px; font-size: 0.8rem; transform: translateY(-50%);}
header .meni .mega-meni-header {font-size: 0.9rem; font-weight: bold; text-transform: uppercase;}
header .meni .mega-meni {z-index: 10;}
header .meni .mega-meni--multiLevel {flex-direction: column;}


main {position: relative; background-color: white; margin-bottom: 310px; z-index: 1;}
main section.sadrzaj {padding: 0 5px 0 5px; min-height: 500px;}
main div.traka {display: flex; position:relative; background-color: var(--boja-tekst); height: 30px; width: 100%; overflow: hidden;}
main div.traka > div {color: white; animation: skrolanje-lijevo 10s linear infinite;}
main div.traka .prvi, main div.traka .drugi {position: absolute; left: 100%; height: 30px; width: 100%; font-size: 0.9rem; font-weight: 100; line-height: 30px; overflow: hidden; white-space: nowrap;}
main div.traka .prvi {display: flex; justify-content: space-around; animation: scroll-horizontal 40s linear infinite;}
main div.traka .drugi {animation: scroll-horizontal 40s linear infinite; animation-delay: 20s;}
main div.traka .prvi:hover,
main div.traka .prvi:hover~.drugi {-webkit-animation-play-state: paused; -moz-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused;}
main div.traka .drugi:hover {-webkit-animation-play-state: paused; -moz-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused;}
main div.traka .traka-scroll:hover>.prvi:not(:hover) {-webkit-animation-play-state: paused; -moz-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused;}
main > .sadrzaj > #sadrzaj {padding: 15px 0;}
main > .sadrzaj > #sadrzaj > .vi_ste_ovdje {height: 30px; font-size: 0.8em;}
main > .sadrzaj > .naslovna > .rotator {position: absolute; left: 0; right: 0; height: 700px;}
main > .sadrzaj > .naslovna > div.div {height: 670px;}
main > .sadrzaj > .naslovna > .artikli_linkovi {display: flex; flex-wrap: wrap; justify-content: center; row-gap: 15px; margin: auto; padding: 50px 0; font-size: 1.2rem; font-weight: 100;}
main > .sadrzaj > .naslovna > .artikli_linkovi a {padding: 0 30px;}
main > .sadrzaj > .naslovna > .artikli {display: flex; flex-direction: column; margin-bottom: 20px;}
main > .sadrzaj > .naslovna > .artikli section {padding: 20px 0; border-bottom: 1px solid var(--boja-granica);}
main > .sadrzaj > .naslovna > .artikli section h1 {font-size: 1.5rem; font-weight: 100; text-align: center;}
main > .sadrzaj > .artikli > section {display: grid; grid-template-columns: 270px auto; grid-gap: 25px;}
main > .sadrzaj > .artikli > section > div.meni {grid-column: 1 / 2; grid-row: 1 / 6;}
main > .sadrzaj > .artikli > section > div.meni > section {padding-bottom: 10px; border-bottom: 1px solid var(--boja-granica);}
main > .sadrzaj > .artikli > section > div.meni > section > h4 {font-weight: 100; text-transform: uppercase;}
main > .sadrzaj > .artikli > section > div.meni > section > ul li {margin: 0 0 10px 0;}
main > .sadrzaj > .artikli > section > div.meni > section > ul li a {font-size: 0.8rem;}
main > .sadrzaj > .artikli > section > div.meni > section > ul li a span {font-size: 16px; color: var(--boja-granica);}
main > .sadrzaj > .artikli > section > div.meni > section.cijena .panel {display: grid; grid-template-columns: auto 30px auto; justify-items: center; align-items: center; font-size: 0.8rem;}
main > .sadrzaj > .artikli > section > div.meni > section.cijena .panel label:first-of-type {justify-self: right;}
main > .sadrzaj > .artikli > section > div.meni > section.cijena .panel label:last-of-type {justify-self: left;}
main > .sadrzaj > .artikli > section > div.meni > section.cijena .panel input {width: 120px;}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno a {display: grid; grid-template-columns: 100px auto; grid-template-rows: auto; height: 117px; width: 100%;}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno img {grid-column: 1 / 2; grid-row: 1 / 4; height: 117px; width: 92px;}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno > ul > li {margin-bottom: 20px; font-weight: 100;}
main > .sadrzaj > .artikli > section > div.meni > section > ul li {margin: 0 0 5px 0;}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno span {font-size: 0.8rem; color: var(--boja-tekst);}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno span.brand {font-size: 0.7rem; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno span.cijena {font-size: 1.1rem; font-weight: 300;}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno span.cijena .prekrizi {position: relative; margin-right: 10px; font-size: 1rem; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno span.cijena .prekrizi:before {content: ""; position: absolute; top: 50%; left: 0; right: 0; border-top: 1px solid; border-color: var(--boja-tekst-svjetlija); transform:rotate(-5deg);}
main > .sadrzaj > .artikli > section > div.naslov {grid-column: 2 / 3; grid-row: 1 / 2;}
main > .sadrzaj > .artikli > section > div.naslov h2 {display: flex; align-items: center;gap: 10px; font-weight: 100;}
main > .sadrzaj > .artikli > section > div.naslov h2 > img {height: 100px;}
main > .sadrzaj > .artikli > section > div.naslov .opis {font-size: 0.8rem; font-weight: 100; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .artikli > section > div.opcije {grid-column: 2 / 3; grid-row: 2 / 3; display: grid; grid-template-columns: 1fr 1fr;}
main > .sadrzaj > .artikli > section > div.opcije > div {justify-self: end; align-self: center; font-size: 0.8rem; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .artikli > section > div.artikli {grid-column: 2 / 3; display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 50px 15px; justify-items: center;}
main > .sadrzaj > .artikli > section > div.artikli > .artikal,
main .sadrzaj .naslovna .artikli section .artikli .artikal {display: grid; grid-template-columns: 275px; grid-template-rows: 350px; justify-content: center;}
main .sadrzaj .artikli section div.artikli .artikal a,
main .sadrzaj .naslovna .artikli section .artikli .artikal a {color: var(--boja-tekst);}
main .sadrzaj .artikli section div.artikli .artikal a.slika,
main .sadrzaj .naslovna .artikli section .artikli .artikal a.slika {position: relative; background-color: var(--boja-pozadina);}
main .sadrzaj .artikli section div.artikli .artikal a.slika .popust,
main .sadrzaj .naslovna .artikli section .artikli .artikal a.slika .popust {position: absolute; top:10px; left: 10px; background-color: var(--boja-crvena); padding: 5px; font-size: 0.8rem; color: var(--boja-pozadina);}
main .sadrzaj .artikli section div.artikli .artikal a.slika .novo,
main .sadrzaj .naslovna .artikli section .artikli .artikal a.slika .novo {position: absolute; top:10px; right: 10px; background-color: var(--boja-zelena); padding: 5px; font-size: 0.8rem; color: var(--boja-pozadina);}
main .sadrzaj .artikli section div.artikli .artikal a.slika img,
main .sadrzaj .naslovna .artikli section .artikli .artikal a.slika img {height: 100%; width: 100%;}
main .sadrzaj .artikli section div.artikli .artikal span.brand,
main .sadrzaj .naslovna .artikli section .artikli .artikal span.brand {display: flex; align-items: center; gap: 5px; padding: 3px; font-size: 0.8rem; font-weight: 100; color: var(--boja-tekst-svjetlija);}
main .sadrzaj .artikli section div.artikli .artikal span.brand img,
main .sadrzaj .naslovna .artikli section .artikli .artikal span.brand img {height: 42px; width: 42px; border: 1px solid var(--boja-granica);}
main .sadrzaj .artikli section div.artikli .artikal a.naziv,
main .sadrzaj .naslovna .artikli section .artikli .artikal a.naziv {padding: 3px;  font-size: 0.9rem; font-weight: 100;}
main .sadrzaj .artikli section div.artikli .artikal span.cijena,
main .sadrzaj .naslovna .artikli section .artikli .artikal span.cijena {padding: 3px; font-size: 1.2rem; font-weight: 300;}
main .sadrzaj .artikli section div.artikli .artikal span.cijena .prekrizi,
main .sadrzaj .naslovna .artikli section .artikli .artikal span.cijena .prekrizi {position: relative; margin-right: 10px; font-size: 1rem; color: var(--boja-tekst-svjetlija);}
main .sadrzaj .artikli section div.artikli .artikal span.cijena .prekrizi:before,
main .sadrzaj .naslovna .artikli section .artikli .artikal span.cijena .prekrizi:before {content: ""; position: absolute; top: 50%; left: 0; right: 0; border-top: 1px solid; border-color: var(--boja-tekst-svjetlija); transform:rotate(-5deg);}
main .sadrzaj .artikli section div.artikli .artikal span.cijena_30_dana,
main .sadrzaj .naslovna .artikli section .artikli .artikal span.cijena_30_dana {font-size: 0.7rem; font-weight: 100;}
main .sadrzaj .naslovna .artikli section#brandovi div a {display: block; justify-content: center; align-content: center; height: 120px; width: 200px;}
main .sadrzaj .naslovna .artikli section#blogovi a {display: grid; grid-template-columns: 150px auto; justify-content: center; grid-column-gap: 20px; align-content: center; height: 200px; width: 600px; color: var(--boja-tekst);}
main .sadrzaj .naslovna .artikli section#blogovi div a img {grid-column: 1 / 2; grid-row: 1 / 5; height: 200px; width: 150px;}
main .sadrzaj .naslovna .artikli section#blogovi div a h4 {grid-column: 2 / 3; grid-row: 2 / 3; margin: 10px 0; font-size: 1.6rem; font-weight: 100;}
main .sadrzaj .naslovna .artikli section#blogovi div a span {grid-column: 2 / 3; grid-row: 3 / 4; font-size: 0.9rem; font-weight: 100; font-style: italic; color: var(--boja-tekst-svjetlija);}
main .sadrzaj .artikli section nav.navigacija {grid-column: 2 / 3;}
main .sadrzaj .artikli section nav.navigacija ul {display: flex; flex-flow: wrap; justify-content: center; align-items: center; width: auto;}
main .sadrzaj .artikli section nav.navigacija ul li {padding: 10px; line-height: 20px;}
main .sadrzaj .artikli section nav.navigacija ul li svg {fill: var(--boja-tekst-svjetlija); height: 20px; width: 20px;}
main .sadrzaj .artikli section nav.navigacija ul li svg:hover {fill: var(--boja-tekst);}
main .sadrzaj .artikl form {display: grid; grid-template-columns: 550px auto; grid-gap: 20px 50px;}
main .sadrzaj .artikl form .slika {grid-column: 1 / 2; grid-row: 1 / 2; position: relative; background-color: var(--boja-pozadina);}
main .sadrzaj .artikl form .slika .popust {position: absolute; top:10px; left: 10px; background-color: var(--boja-crvena); padding: 5px; font-size: 0.8rem; color: var(--boja-pozadina);}
main .sadrzaj .artikl form .slika .novo {position: absolute; top:10px; right: 10px; background-color: var(--boja-zelena); padding: 5px; font-size: 0.8rem; color: var(--boja-pozadina);}
main .sadrzaj .artikl form .slika img {height: 100%; width: 100%;}
main .sadrzaj .artikl form .slike {height: 100px;}
main .sadrzaj .artikl form .slike > div > div {display: flex; gap: 10px;}
main .sadrzaj .artikl form .slike > div > div > div {width: 80px !important;}
main .sadrzaj .artikl form .slike img {max-height: 100px; width: 80px; cursor: pointer;}
main .sadrzaj .artikl form .podatci {display: inline-flex; flex-wrap: wrap; flex-direction: column; gap: 10px; grid-column: 2 / 3; grid-row: 1 / 2;}
main .sadrzaj .artikl form .podatci * h5 {font-weight: 300; text-transform: uppercase;}
main .sadrzaj .artikl form .podatci .naziv {margin: 10px 0 0 0; font-size: 1.6rem; font-weight: 100;}
main .sadrzaj .artikl form .podatci .brand {font-size: 0.8rem;}
main .sadrzaj .artikl form .podatci .brand span {text-transform: uppercase; color: var(--boja-tekst-svjetlija);}
main .sadrzaj .artikl form .podatci .cijene {display: flex; flex-direction: column;}
main .sadrzaj .artikl form .podatci .cijena {padding: 3px; font-size: 1.5rem; font-weight: 300;}
main .sadrzaj .artikl form .podatci .cijena .prekrizi {position: relative; margin-right: 10px; font-size: 1rem; color: var(--boja-tekst-svjetlija);}
main .sadrzaj .artikl form .podatci .cijena .prekrizi:before {content: ""; position: absolute; top: 50%; left: 0; right: 0; border-top: 1px solid; border-color: var(--boja-tekst-svjetlija); transform:rotate(-5deg);}
main .sadrzaj .artikl form .podatci .cijena_30_dana {font-size: 0.7rem; font-weight: 100;}
main .sadrzaj .artikl form .podatci .zaliha {border-top: 1px dashed var(--boja-granica);}
main .sadrzaj .artikl form .podatci .zaliha ul li {float: left;}
main .sadrzaj .artikl form .podatci .kosarica {display: grid; grid-template-columns: 100px 30px 30px; grid-gap: 10px;}
main .sadrzaj .artikl form .podatci .kosarica label.input input {width: 100%;}
main .sadrzaj .artikl form .podatci .kosarica .minus {grid-column: 2 / 3; background-color: white; width: 30px; color: black;}
main .sadrzaj .artikl form .podatci .kosarica .plus {grid-column: 3 / 4; background-color: white; width: 30px; color: black;}
main .sadrzaj .artikl form .podatci button:first-of-type {background-color: black; width: 250px; color: white;}
main .sadrzaj .artikl form .podatci button:first-of-type svg {fill: white;}
main .sadrzaj .artikl form .podatci button:last-of-type {width: 52px;}
main .sadrzaj .artikl form .podatci section {border-top: 1px solid var(--boja-granica);}
main .sadrzaj .artikl form .podatci section span {font-size: 0.9rem; line-height: 20px; color: var(--boja-tekst-svjetlija);}
main .sadrzaj .kosarica section {grid-template-columns: 1fr;}
main .sadrzaj .kosarica section div.artikli {display: grid; grid-template-columns: 1fr; grid-template-rows: auto; grid-gap: 0; grid-column: 1 / 2; justify-items: left;}
main .sadrzaj .kosarica section div.artikli .artikal {grid-template-columns: 100px auto 200px; grid-template-rows: 42px 42px 42px; grid-column-gap: 15px; align-items: center; padding: 20px; width: 100%; border-bottom: 1px dashed var(--boja-granica);}
main .sadrzaj .kosarica section div.artikli .artikal a.slika {grid-row: 1 / 4;}
main .sadrzaj .artikli section div.artikli .artikal a.slika svg {height: 100%; width: 100%;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal a.naziv {grid-column: 2 / 3; grid-row: 2 / 3; padding: 0;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.velicina {font-size: 0.8rem; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.cijena {grid-column: 3 / 4; grid-row: 1 / 2; justify-self: end; padding: 0;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.cijena span {font-size: 0.9rem; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica {display: flex; column-gap: 5px; grid-column: 3 / 4; grid-row: 2 / 3; justify-self: end;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.minus,
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.plus {width: 30px;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal button.izbrisi,
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.uredi {font-size: 0.7rem; color: var(--boja-tekst-svjetlija); border: 0;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal button.izbrisi:hover,
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.uredi:hover {background-color: transparent;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal button.izbrisi {grid-column: 3 / 4; grid-row: 3 / 4; justify-self: end;}
main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button svg {fill: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .kosarica > section > span {justify-self: end; font-weight: 100;}
main > .sadrzaj > .kosarica > section > span:first-of-type {color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .kosarica > section > span:last-of-type {font-size: 1.5rem;}
main > .sadrzaj > .kosarica > section > a {justify-self: center;}
main > .sadrzaj > .narudzba > form {display: flex; flex-direction: column;}
main > .sadrzaj > .narudzba > form > section table {width: 100%;}
main > .sadrzaj > .narudzba > form > section h3 {font-size: 2rem; font-weight: 100;}
main > .sadrzaj > .blog {display: grid; grid-template-columns: auto auto; grid-template-rows: 30px 50px 30px auto auto; grid-gap: 20px; justify-content: center;}
main > .sadrzaj > .blog > h1 {grid-column: 1 / 3; font-weight: 300; text-align: center;}
main > .sadrzaj > .blog > div.datum {grid-column: 1 / 3; font-weight: 300; font-style: italic; text-align: center; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .blog > div.slika {grid-column: 1 / 2; display: flex; justify-content: center;}
main > .sadrzaj > .blog > div > img {height: 400px; width: 300px;}
main > .sadrzaj > .blog > div.opis {grid-column: 2 / 3; font-size: 1.3rem; font-weight: 100; line-height: 1.3; color: var(--boja-tekst-svjetlija);}
main > .sadrzaj > .kontakt > section {padding: 50px 0; font-weight: 100; line-height: 1.5; color: var(--boja-tekst-svjetlija); border-bottom: 1px solid var(--boja-granica);}
main > .sadrzaj > .kontakt section > h4 {margin: 20px 0; font-size: 20px; font-weight: 100; color: var(--boja-tekst);}
main > .sadrzaj > .kontakt section > div {display: flex;}
main > .sadrzaj > .kontakt section > div > svg {height: 20px; width: 20px;}
main > .sadrzaj > .kontakt section > div > span {margin-left: 5px;}
main > .sadrzaj > .kontakt section > span {color: var(--boja-tekst);}

footer {position: fixed; left: 0; bottom: 0; right: 0; background-color: white; padding: 5px 0 5px 0;}
footer > nav {display: flex; justify-content: space-evenly; padding: 0 5px 0 5px;}
footer nav section h4 {font-weight: 100; text-transform: uppercase;}
footer nav section li {display: flex; align-items: center; padding: 3px 0 3px 0; width: 100%;}
footer nav section li span {font-size: 0.8rem; font-weight: 100; color: var(--boja-tekst-svjetlija);}
footer nav section li a:hover {text-decoration: none; color: var(--boja-tekst);}
footer nav section li svg {margin-right: 10px; height: 20px; width: 20px;}
footer nav section.pratite_nas li svg {height: 15px; width: 15px;}
footer > section {display: flex; align-items: center; justify-content: center; padding: 5px; font-size: 0.8rem; color: var(--boja-tekst-svjetlija); border-top: 1px solid var(--boja-granica);}
footer > section a {flex-grow: 0.02;}
footer > section a svg {height: 50px; width: 50px;}

#gdpr div {position: fixed; display: block; background-color: black; left: 15px; bottom: 15px; padding: 20px; font-size: 0.85rem; color: var(--boja-granica); z-index: 9999; opacity: 0.9;}

@media only screen and (min-width: 1200px) {

    header.skrolanje .meni nav ul li:last-of-type {margin-right: 160px;}

    header .meni {background: white;}
    header .meni .menu [aria-haspopup="true"] ~ ul {display: none;}
    header .meni .menu-bar {position: relative; background-color: white;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul {box-shadow: 0 4px 10px #0000001a;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:after {background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDole.svg');}
    header .meni .menu-bar > li > [aria-haspopup="true"]:hover:after {background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDole.svg');}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {display: flex; transform-origin: top; animation: dropdown 0.2s ease-out;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {display: flex;}
    header .meni .menu-bar > li:focus-within > [aria-haspopup="true"] ~ ul {display: flex;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus,
    header .meni .menu-bar > li:focus-within > [aria-haspopup="true"],
    header .meni .menu-bar > li:hover > a {color: var(--boja-tekst-svjetlija);}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus:after,
    header .meni .menu-bar > li:focus-within > [aria-haspopup="true"]:after,
    header .meni .menu-bar > li:hover > a:after {background-image: url('/novaavantura/resursi/grafika/simboli/strelicaGore.svg');}
    header .meni .mega-meni {position: absolute; top: 40px; left: 0; background-color: white; width: 100%;}
    header .meni .mega-meni:hover {display: flex;}
    header .meni .mega-meni a:hover {background: var(--boja-granica);}
    header .meni .mega-meni--multiLevel > li {width: 33.33333333%;}
    header .meni .mega-meni--multiLevel > li > [aria-haspopup="true"] ~ ul {left: 33.33333333%; width: 33.33333333%;}
    header .meni .mega-meni--multiLevel > li > [aria-haspopup="true"] ~ ul ul {left: 100%;width: 100%;}
    header .meni .mega-meni--multiLevel li:hover > [aria-haspopup="true"] ~ ul {display: block; transform-origin: left; animation: flyout 0.2s ease-out;}
    header .meni .mega-meni--multiLevel li:focus-within > [aria-haspopup="true"] ~ ul {display: block;}
    header .meni .mega-meni--multiLevel li:hover > [aria-haspopup="true"],
    header .meni .mega-meni--multiLevel li:focus-within > [aria-haspopup="true"],
    header .meni .mega-meni--multiLevel li:hover > a,
    header .meni .mega-meni--multiLevel li:focus-within > a {background: var(--boja-granica);}
    header .meni .mega-meni--multiLevel [aria-haspopup="true"] ~ ul:hover,
    header .meni .mega-meni--multiLevel [aria-haspopup="true"]:hover {display: block;}
    header .meni .mega-meni--multiLevel [aria-haspopup="true"] ~ ul {position: absolute; top: 0; height: 100%;}
    header .meni .mega-meni--flat > * {flex: 1;}
    header .meni .mobile-meni-gumb,
    header .meni .mobile-meni-gumb_zatvori,
    header .meni .mobile-menu-header,
    header .meni .mobile-menu-back-item {display: none;}

}

@media only screen and (max-width: 1200px) {

    header {height: 50px;}

    header nav ul li a svg {height: 30px; width: 30px;}
    header .traka {padding: 10px 0;}
    header .traka ul li.samo_desktop {display: none;}
    header .traka nav.osnovno ul li:first-of-type {display: initial; margin-left: 40px; height: 40px; width: 40px;}
    header .traka nav.osnovno ul li:first-of-type a {margin-left: 5px; padding-right: 0;}
    header .traka nav.osnovno ul li label input::placeholder {font-size: 0.6rem;}

    header .meni .menu-bar > li .trazi {display: none;}
    header .meni .mobile-meni-gumb,
    header .meni .mobile-menu-header,
    header .meni .mobile-menu-back-item {display: block;}
    header .meni .mobile-meni-gumb_zatvori {display: none; position: absolute; top: 0; right: 0; z-index: 9999;}
    header .meni .mobile-meni-gumb, header .meni .mobile-meni-gumb_zatvori {height: 50px; width: 50px;}
    header .meni .mobile-meni-gumb svg, header .meni .mobile-meni-gumb_zatvori svg {position: absolute; top: 5px; left: 5px; padding: 0.6rem; height: 40px; width: 40px; cursor: pointer;}
    header .meni .mobile-menu-header {order: -1;}
    header .meni .mobile-menu-header form {margin-right: 50px;}
    header .meni .mobile-menu-header a {visibility: visible; padding: 20px 25px;}
    header .meni .mobile-menu-header svg {cursor: pointer;}
    header .meni .menu-bar {position: fixed; flex-direction: column; top: 0; left: -100%; height: 100vh; width: 100%; max-width: 100%; overflow-x: hidden; transition: left 0.3s; box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25); z-index: 2;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul {position: absolute; display: flex; top: 0; left: 100%; flex-direction: column; background: white; max-height: 100vh; width: 100%; transition: left 0.3s;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {padding-left: 40px;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {padding-left: 80px;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:after {content: "+"; background: none; height: 20px; font-size: 1em; font-weight: normal; line-height: 1;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul {max-height: 0; transform-origin: top; transform: scaleY(0); transition: max-height 0.1s;}
    header .meni .mega-meni-content {padding: 20px 25px;}
    header .meni .mobile-menu-back-item {order: -1;}
    header .meni .mobile-menu-back-item a {max-height: calc(1.4em + 40px); margin-top: calc(0px - (1.4em + 40px)); pointer-events: none;}
    header .meni .mobile-menu-back-item a:before {content: ""; display: inline-block; background-image: url('/novaavantura/resursi/grafika/simboli/strelicaLijevo.svg'); background-size: 14px; margin-right: 10px; height: 12px; width: 14px;}
    header .meni .mobile-meni-gumb:focus ~ ul {left: 0;} header .meni .mobile-meni-gumb.zatvori:focus ~ ul {left: -100%;}
    header .meni .menu-bar:hover,
    header .meni .menu-bar:focus-within {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul {margin-top: calc(1.4em + 40px);}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:hover,
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:focus-within {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:focus ~ ul {max-height: 500px; animation: dropdown 0.3s forwards;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul li:focus-within > [aria-haspopup="true"] ~ ul {max-height: 500px; transform: scaleY(1);}
    header .meni .menu-bar > li:focus-within ~ .mobile-menu-header a {visibility: hidden;}

    main {margin-bottom: 0;}
    main > .sadrzaj > .naslovna > .rotator {height: 450px;}
    main > .sadrzaj > .naslovna > div.div {height: 450px;}
    main > .sadrzaj > .naslovna .artikli {margin: auto; width: 100%;}
    main > .sadrzaj > .naslovna .artikli section .artikli {grid-template-columns: repeat(2, 1fr);}
    main > .sadrzaj > .artikli > section {display: grid; grid-template-columns: auto;}
    main > .sadrzaj > .artikli > section > div.meni {grid-row: initial;}
    main > .sadrzaj > .artikli > section > div.meni > section {padding-bottom: 0;}
    main > .sadrzaj > .artikli > section > div.meni > section.cijena > .panel > * {padding-bottom: 20px;}
    main > .sadrzaj > .artikli > section > div.meni > section .accordion {margin: 0;}
    main > .sadrzaj > .artikli > section > div.meni > section.izdvojeno {display: none;}
    main > .sadrzaj > .artikli > section > div.naslov {grid-column: 1 / 2;}
    main > .sadrzaj > .artikli > section > div.opcije {grid-column: 1 / 2;}
    main > .sadrzaj > .artikli > section > div.artikli {grid-column: 1 / 2; grid-template-columns: repeat(2, 1fr);}
    main > .sadrzaj > .artikli > section > div.artikli > .artikal {grid-template-columns: 350px; grid-template-rows: 445px;}
    main > .sadrzaj > .artikli > section > nav.navigacija {grid-column: 1 / 2;}
    main > .sadrzaj > .artikl > form {grid-template-columns: 1fr; justify-items: center; margin-top: 30px;}
    main > .sadrzaj > .artikl > form > .slika {width: 500px;}
    main > .sadrzaj > .artikl > form > .slike {margin-top: 30px; width: 500px;}
    main > .sadrzaj > .artikl > form > .slike > div {height: 115px;}
    main > .sadrzaj > .artikl > form .podatci {grid-column: 1 / 2; grid-row: 3 / 4;}
    main > .sadrzaj > .kosarica > section {grid-template-columns: 1fr;}
    main > .sadrzaj > .kosarica > section > div.artikli {display: grid; grid-template-columns: 1fr; grid-template-rows: auto; grid-gap: 0; grid-column: 1 / 2; justify-items: left;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal {grid-template-columns: 100px auto; grid-template-rows: 42px 42px 42px; grid-column-gap: 15px; align-items: center; padding: 20px; width: 100%; border-bottom: 1px dashed var(--boja-granica);}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal a.slika {grid-row: 1 / 4;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal a.naziv {grid-column: 2 / 3; grid-row: 1 / 2; padding: 0;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.cijena {grid-column: 2 / 3; grid-row: 2 / 3; justify-self: end; padding: 0;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica {display: flex; column-gap: 5px; grid-column: 2 / 3; grid-row: 3 / 4; justify-self: start;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.minus,
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.plus {width: 30px;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal button.izbrisi,
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.uredi {font-size: 0.7rem; color: var(--boja-tekst-svjetlija); border: 0;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal button.izbrisi:hover,
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button.uredi:hover {background-color: transparent;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal button.izbrisi {grid-column: 2 / 3; grid-row: 3 / 4; justify-self: end;}
    main > .sadrzaj > .kosarica > section > div.artikli > .artikal span.kosarica button svg {fill: var(--boja-tekst-svjetlija);}

    footer {position: initial;}
    footer > nav {flex-direction: column;}
    footer nav section h4 {margin: 0; text-align: center;}
    footer nav section li {justify-content: center; padding: 10px 0 10px 0;}
    footer .accordion2 {padding: 18px; width: 100%; font-size: 15px; color: #444; outline: none; cursor: pointer; border: none; transition: 0.4s;}
    footer .active, footer .accordion2:hover {background-color: var(--boja-granica);}
    footer .accordion2:after {content: '\002B'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
    footer .panel2 {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

    main .accordion:after {content: '\002B' !important;}
    main .active:after {content: "\2212" !important;}

    .accordion {padding: 18px; width: 100%; font-size: 15px; text-align: left; color: #444; outline: none; cursor: pointer; border: none; transition: 0.4s;}
    .active, .accordion:hover {background-color: var(--boja-granica);}
    .accordion:after {content: '\002B'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
    .active:after {content: "\2212";}
    .panel {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

}

@media all and (max-width: 1200px) and (hover: none) {

    header .meni .mobile-meni-gumb:hover ~ ul {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:hover ~ ul {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:hover ~ ul {max-height: 500px; animation: dropdown 0.3s forwards;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul:hover {max-height: 500px; transform: scaleY(1);}
    header .meni .menu-bar > li:hover ~ .mobile-menu-header a {visibility: hidden;}

}

@media only screen and (max-width: 768px) {

    main > .sadrzaj > .naslovna > .rotator {height: 768px;}
    main > .sadrzaj > .naslovna > div.div {height: 768px;}
    main > .sadrzaj > .naslovna > .artikli > section > h1 {text-align: center;}
    main > .sadrzaj > .narudzba > form {text-align: center;}

    main > .sadrzaj > .blog > div.slika {grid-column: 1 / 3;display: flex; justify-content: center;}
    main > .sadrzaj > .blog > div.opis {grid-column: 1 / 3;}

}

@media only screen and (max-width: 600px) {

    main > .sadrzaj > .naslovna > .rotator {height: 600px;}
    main > .sadrzaj > .naslovna > div.div {height: 600px;}
    main > .sadrzaj > .artikli > section > div.artikli > .artikal,
    main > .sadrzaj > .naslovna > .artikli > section > .artikli > .artikal {grid-template-columns: 227px; grid-template-rows: 289px;}
    main > .sadrzaj > .artikli > section > div.naslov h2 > img {height: 80px;}
    main > .sadrzaj > .artikl > form > .slika {width: 480px;}
    main > .sadrzaj > .artikl > form > .slike {width: 480px;}

    #gdpr div {right: 15px}

}

@media only screen and (max-width: 480px) {

    main > .sadrzaj > .naslovna > .rotator {height: 480px;}
    main > .sadrzaj > .naslovna > div.div {height: 480px;}
    main > .sadrzaj > .artikli > section > div.artikli > .artikal,
    main > .sadrzaj > .naslovna .artikli section .artikli .artikal {grid-template-columns: 188px; grid-template-rows: 239px;}
    main > .sadrzaj > .artikl > form > .slika {width: 400px;}
    main > .sadrzaj > .artikl > form > .slike {width: 400px;}
    main .sadrzaj .artikli section div.artikli .artikal span.cijena_30_dana,
    main .sadrzaj .naslovna .artikli section .artikli .artikal span.cijena_30_dana {font-size: 0.6rem;}

}

@media only screen and (max-width: 400px) {

    main > .sadrzaj > .naslovna > .rotator {height: 400px;}
    main > .sadrzaj > .naslovna > div.div {height: 400px;}
    main > .sadrzaj > .artikli > section > div.artikli > .artikal,
    main > .sadrzaj > .naslovna .artikli section .artikli .artikal {grid-template-columns: 150px; grid-template-rows: 191px;}

}

@media only screen and (max-width: 320px) {

    main > .sadrzaj > .naslovna > .rotator {height: 3200px;}
    main > .sadrzaj > .naslovna > div.div {height: 320px;}
    main > .sadrzaj > .naslovna .artikli section .artikli {grid-template-columns: 1fr;}
    main > .sadrzaj > .artikli section div.artikli {grid-template-columns: 1fr;}

}

main .accordion {width: 100%; font-size: 15px; text-align: left; outline: none; cursor: pointer; border: none; transition: 0.4s;}
main .active, main  .accordion:hover {background-color: transparent;}
main .accordion:after {content: '\2212'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
main .active:after {content: "\002B";}
main .panel {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

input {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
label.input input {background-color: var(--boja-pozadina); padding: 5px; width: auto; font-size: 0.8rem; border: 1px solid var(--boja-granica);}
label.input input:focus {background-color: white;}
label.input input:focus-visible {outline: none;}
label.unos {position: relative; display: grid; grid-template-columns: 1fr; grid-gap: 0;}
label.unos input {grid-column: 1 / 2; grid-row: 1 / 3; padding: 8px; height: 56px; width: 100%; border-width: 0 0 1px 0 !important; border-style: solid !important; border-color: var(--boja-granica) !important;}
label.unos input:focus {outline: none;}
label.unos input::placeholder {color: var(--boja-tekst);}
label.unos svg {grid-column: 2 / 3; grid-row: 1 / 2; margin: 13px; height: 30px; width: 30px;}
label.unos span.granica {grid-column: 2 / 3; grid-row: 1 / 2; position: absolute; display: block; bottom: 0; width: 100%}
label.select {position: relative;}
label.select span {font-size: 0.8rem;}
label.select select {background-color: white; background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDole.svg'); background-position: right 10px center; background-repeat: no-repeat; background-size: auto 50%; width: 170px; font-size: 0.8rem; border: none; color: var(--boja-tekst-svjetlija); outline: none; -moz-appearance: none; -webkit-appearance: none; appearance: none;}
label.select select::-ms-expand {display: none;}
label.select select option {background-color: white; font-size: 0.8rem;}
a.gumb, button.crni {width: max-content; padding: 12px; font-size: 0.9rem; color: var(--boja-tekst); border: 1px solid var(--boja-granica);}
a.gumb:hover, button.crni:hover {background-color: var(--boja-pozadina);}
a.gumb.crni, button.crni {background-color: black; text-transform: uppercase; color: white;}
.gumb.ikona {display: flex; padding: 10px;}
button.crni span {color: white;}
button.crni svg {fill: white;}

button {display: flex; justify-content: center; align-items: center; background-color: white; padding: 3px; font-size: 0.9rem; text-transform: uppercase; border: 1px solid var(--boja-granica); cursor: pointer;}
button:hover {background-color: var(--boja-pozadina);}
button svg {height: 20px; width: 30px;}

div.radio {padding: 3px;}
div.radio > input {display: none; height: 0; width: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
div.radio > input + label {display: inline-block; background-color: white; padding: 10px; font-weight: 100; text-align: center; color: var(--boja-tekst-svjetlija); border: 1px solid var(--boja-granica); cursor: pointer;}
div.radio > input:checked + label {background-color: var(--boja-tekst);; color: var(--boja-pozadina); border-color: var(--boja-pozadina);}
div.radio > input[disabled] + label {cursor: not-allowed;}

textarea {padding: 5px; height: 200px; width: 100%; border: 1px solid var(--boja-granica); resize: none;}
textarea:focus-visible {outline: none !important;}

.kontrolni_okvir {display: block; position: relative; margin-bottom: 12px; padding-left: 28px; width: max-content; font-size: 0.8rem; line-height: 20px; -webkit-user-select: none; -moz-user-select: none;-ms-user-select: none; user-select: none; cursor: pointer;}
.kontrolni_okvir input {position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer;}
.kontrolni_okvir .checkmark {position: absolute; top: 0; left: 0; height: 20px; width: 20px; border: 1px solid var(--boja-granica);}
.kontrolni_okvir input:checked ~ .checkmark {background-color: white; border-color: var(--boja-tekst);}
.checkmark:after {content: ""; position: absolute; display: none;}
.kontrolni_okvir span {color: var(--boja-tekst-svjetlija);}
.kontrolni_okvir input:checked ~ .checkmark:after {display: block;}
.kontrolni_okvir .checkmark:after {top: 3px; left: 7px; height: 10px; width: 5px; border: solid black; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

.swiper {width: 100%; height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide picture {display: block; background-color: var(--boja-pozadina); width: 100%; height: 100%; object-fit: cover; box-shadow: inset 0 0 10rem 10px rgba(155,155,155,0.1);}
.swiper-slide picture img {height: 100%;}

/** animacije **/
@keyframes dropdown {
    0% {opacity: 0; transform: scaleY(0);}
    50% {opacity: 1;}
    100% {transform: scaleY(1);}
}
@keyframes flyout {
    0% {opacity: 0; transform: scaleX(0);}
    100% {opacity: 1; transform: scaleX(1);}
}
@-webkit-keyframes radio_animacija {
    0% {box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);}
    50% {box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);}
    100% {box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);}
}
@keyframes radio_animacija {
    0% {box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);}
    50% {box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);}
    100% {box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);}
}
@keyframes scroll-horizontal {
    0% {left: 100%;}
    100% {left: -100%;}
}

/** boja **/
svg[data-boja="boja"] {fill: var(--boja-tekst) !important;}
button[data-boja="boja"], .gumb[data-boja="boja"] {color: var(--boja-tekst);}

#slika_zoom {display: none;}

/** popup **/
.popup {position: relative; display: inline-block; top: 5px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.popup svg {fill: var(--boja-tekst); height: 20px; width: 20px;}