body {font-family: 'bc', sans-serif; font-size: 1rem; color: var(--boja-tekst);}
a:hover, nav a:visited {text-decoration: none;}

header {background-color: white; height: 80px; transition: all 0.4s ease; z-index: 2;}
header.skrolanje {position: sticky; top:0; background-color: rgba(255,255,255,0.9); transition: all 0.4s ease;}
header #trazi {display: none; position: absolute; top: 0; left: 0; right: 0; background-color: white; height: 140px; transition: all 0.4s ease; z-index: 2;}
header #trazi section h4 {font-size: 0.8rem; font-weight: 100; text-transform: uppercase; color: var(--boja-tekst-svjetlija);}
header #trazi section > a {height: 30px; width: 30px;}
header #trazi section > a svg {height: 30px; width: 30px;}
header > .pozadina {display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.41)}
header ul li a:hover {text-decoration: none; color: var(--boja-tekst-svjetlija);}
header ul li a svg {height: 20px; width: 20px;}
header .traka {align-items: center; padding: 5px; border-bottom: 1px solid var(--boja-granica);}
header .traka ul li {float: left; height: 30px; font-size: 0.8rem;}
header .traka ul li a {display: inline-flex; align-items: center; padding-right: 10px; height: 30px; width: 100%;}
header .traka nav.info svg {margin-right: 5px;}
header .traka .osnovno .hamburger-meni {text-transform: uppercase;}
header .traka .osnovno .hamburger-meni ul li {height: auto; width: 100%; padding: 5px; font-size: 1rem; font-weight: 100;}
header .traka .osnovno .hamburger-meni ul li a {align-items: stretch; justify-content: space-between; padding: 0 15px 0 15px; height: auto; width: 100%;}
header .traka .osnovno .hamburger-meni ul li a span {line-height: 30px;}
header .traka .osnovno .hamburger-meni ul li:first-of-type a {padding: 0;}
header .meni {border-bottom: 1px solid var(--boja-granica);}
header .meni nav {grid-column: 2 / 3;}
header .meni a {display: block; padding: 11px; font-size: 0.8rem; color: var(--boja-tekst);}
header .meni .menu-bar {display: flex; background-color: white ; height: 39px;}
header .meni .menu-bar > li.trazi {margin-left: auto;}
header .meni .menu-bar > li .trazi {display: inline-flex; margin-left: auto;}
header .meni .menu-bar > li .trazi span {margin-right: 10px;}
header .meni .menu-bar > li > a {text-transform: uppercase;}
header .meni .menu-link {position: relative; background: white; transition: background 0.2s, color 0.2s; z-index: 1;}
header .meni .menu-link[aria-haspopup="true"] {padding-right: 40px;}
header .meni .menu-link[aria-haspopup="true"]:after {content: ""; position: absolute; top: 50%;  right: 20px; background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDesno.svg'); background-size: 0.8rem; height: 14px; width: 14px; font-size: 0.8rem; transform: translateY(-50%);}
header .meni .mega-meni-header {font-size: 0.9rem; font-weight: bold; text-transform: uppercase;}
header .meni .mega-meni {z-index: 10;}
header .meni .mega-meni--multiLevel {flex-direction: column;}

main {position: relative; background-color: white; margin-bottom: 310px; z-index: 1;}
main section.sadrzaj {padding: 0 5px 0 5px;}
main div.traka {background-color: var(--boja-tekst); height: 30px; width: 100%;}
main > .sadrzaj > .naslovna > .rotator {position: absolute; left: 0; right: 0; height: 550px;}

footer {position: fixed; left: 0; bottom: 0; right: 0; background-color: white; padding: 5px 0 5px 0;}
footer > nav {display: flex; justify-content: space-evenly; padding: 0 5px 0 5px;}
footer nav section h4 {font-weight: 100; text-transform: uppercase;}
footer nav section li {display: flex; align-items: center; padding: 3px 0 3px 0; width: 100%;}
footer nav section li span {font-size: 0.8rem; font-weight: 100; color: var(--boja-tekst-svjetlija);}
footer nav section li a:hover {text-decoration: none; color: var(--boja-tekst);}
footer nav section li svg {margin-right: 10px; height: 20px; width: 20px;}
footer nav section.pratite_nas li svg {height: 15px; width: 15px;}
footer > section {display: flex; align-items: center; justify-content: center; padding: 5px; font-size: 0.8rem; color: var(--boja-tekst-svjetlija); border-top: 1px solid var(--boja-granica);}
footer > section a {flex-grow: 0.02;}
footer > section a svg {height: 50px; width: 50px;}

@media only screen and (min-width: 1000px) {

    header.skrolanje .meni nav ul li:last-of-type {margin-right: 160px;}

    header .meni {background: white;}
    header .meni .menu [aria-haspopup="true"] ~ ul {display: none;}
    header .meni .menu-bar {position: relative; background-color: white;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul {box-shadow: 0 4px 10px #0000001a;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:after {background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDole.svg');}
    header .meni .menu-bar > li > [aria-haspopup="true"]:hover:after {background-image: url('/novaavantura/resursi/grafika/simboli/strelicaDole.svg');}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {display: flex; transform-origin: top; animation: dropdown 0.2s ease-out;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {display: flex;}
    header .meni .menu-bar > li:focus-within > [aria-haspopup="true"] ~ ul {display: flex;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus,
    header .meni .menu-bar > li:focus-within > [aria-haspopup="true"],
    header .meni .menu-bar > li:hover > a {color: var(--boja-tekst-svjetlija);}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus:after,
    header .meni .menu-bar > li:focus-within > [aria-haspopup="true"]:after,
    header .meni .menu-bar > li:hover > a:after {background-image: url('/novaavantura/resursi/grafika/simboli/strelicaGore.svg');}
    header .meni .mega-meni {position: absolute; top: 40px; left: 0; background-color: white; width: 100%;}
    header .meni .mega-meni:hover {display: flex;}
    header .meni .mega-meni a:hover {background: var(--boja-granica);}
    header .meni .mega-meni--multiLevel > li {width: 33.33333333%;}
    header .meni .mega-meni--multiLevel > li > [aria-haspopup="true"] ~ ul {left: 33.33333333%; width: 33.33333333%;}
    header .meni .mega-meni--multiLevel > li > [aria-haspopup="true"] ~ ul ul {left: 100%;width: 100%;}
    header .meni .mega-meni--multiLevel li:hover > [aria-haspopup="true"] ~ ul {display: block; transform-origin: left; animation: flyout 0.2s ease-out;}
    header .meni .mega-meni--multiLevel li:focus-within > [aria-haspopup="true"] ~ ul {display: block;}
    header .meni .mega-meni--multiLevel li:hover > [aria-haspopup="true"],
    header .meni .mega-meni--multiLevel li:focus-within > [aria-haspopup="true"],
    header .meni .mega-meni--multiLevel li:hover > a,
    header .meni .mega-meni--multiLevel li:focus-within > a {background: var(--boja-granica);}
    header .meni .mega-meni--multiLevel [aria-haspopup="true"] ~ ul:hover,
    header .meni .mega-meni--multiLevel [aria-haspopup="true"]:hover {display: block;}
    header .meni .mega-meni--multiLevel [aria-haspopup="true"] ~ ul {position: absolute; top: 0; height: 100%;}
    header .meni .mega-meni--flat > * {flex: 1;}
    header .meni .mobile-meni-gumb,
    header .meni .mobile-menu-header,
    header .meni .mobile-menu-back-item {display: none;}

}

@media only screen and (max-width: 1000px) {

    header {height: 50px;}

    header nav ul li a svg {height: 30px; width: 30px;}
    header .traka {padding: 10px;}
    header .traka nav.osnovno ul li:first-of-type {display: initial; margin-left: 40px; height: 40px; width: 40px;}
    header .traka nav.osnovno ul li label input::placeholder {font-size: 0.6rem;}

    header .meni .menu-bar > li .trazi {display: none;}
    header .meni .mobile-meni-gumb,
    header .meni .mobile-menu-header,
    header .meni .mobile-menu-back-item {display: block;}
    header .meni .mobile-meni-gumb {height: 50px; width: 50px;}
    header .meni .mobile-meni-gumb svg {position: absolute; top: 5px; left: 5px; padding: 0.6rem; height: 40px; width: 40px; cursor: pointer;}
    header .meni .mobile-menu-header {order: -1;}
    header .meni .mobile-menu-header a {visibility: visible; padding: 20px 25px;}
    header .meni .menu-bar {position: fixed; flex-direction: column; top: 0; left: -100%; height: 100vh; width: 350px; max-width: 350px; max-width: 90%; overflow-x: hidden; transition: left 0.3s; box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul {position: absolute;display: flex;  top: 0; left: 100%; flex-direction: column; background: white; max-height: 100vh; width: 100%; transition: left 0.3s;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] {font-size: 1.2em;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {padding-left: 40px;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {padding-left: 80px;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:after {content: "+"; background: none; height: 20px; font-size: 1em; font-weight: normal; line-height: 1;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul {max-height: 0; transform-origin: top; transform: scaleY(0); transition: max-height 0.1s;}
    header .meni .mega-meni-content {padding: 20px 25px;}
    header .meni .mobile-menu-back-item {order: -1;}
    header .meni .mobile-menu-back-item a {max-height: calc(1.4em + 40px); margin-top: calc(0px - (1.4em + 40px)); pointer-events: none;}
    header .meni .mobile-menu-back-item a:before {content: ""; display: inline-block; background-image: url('/novaavantura/resursi/grafika/simboli/strelicaLijevo.svg'); background-size: 14px; margin-right: 10px; height: 12px; width: 14px;}
    header .meni .mobile-meni-gumb:focus ~ ul {left: 0;}
    header .meni .menu-bar:hover,
    header .meni .menu-bar:focus-within {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul {margin-top: calc(1.4em + 40px);}
    header .meni  .menu-bar > li > [aria-haspopup="true"] ~ ul:hover,
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:focus-within {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:focus ~ ul {max-height: 500px; animation: dropdown 0.3s forwards;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul li:focus-within > [aria-haspopup="true"] ~ ul {max-height: 500px; transform: scaleY(1);}
    header .meni .menu-bar > li:focus-within ~ .mobile-menu-header a {visibility: hidden;}

    main {margin-bottom: 0;}

    footer {position: initial;}
    footer > nav {flex-direction: column;}
    footer nav section h4 {margin: 0; text-align: center;}
    footer nav section li {justify-content: center; padding: 10px 0 10px 0;}
    footer .accordion2 {padding: 18px; width: 100%; font-size: 15px; color: #444; outline: none; cursor: pointer; border: none; transition: 0.4s;}
    footer .active, footer .accordion2:hover {background-color: var(--boja-granica);}
    footer .accordion2:after {content: '\002B'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
    footer .panel2 {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

}

@media all and (max-width: 1000px) and (hover: none) {

    header .meni .mobile-meni-gumb:hover ~ ul {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"]:hover ~ ul {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {left: 0;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:hover ~ ul {max-height: 500px; animation: dropdown 0.3s forwards;}
    header .meni .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul:hover {max-height: 500px; transform: scaleY(1);}
    header .meni .menu-bar > li:hover ~ .mobile-menu-header a {visibility: hidden;}

}

label.unos {position: relative; display: grid; grid-template-columns: auto 56px; grid-gap: 0;}
label.unos input {grid-column: 1 / 2; grid-row: 1 / 2; padding: 8px; height: 56px; width: 100%; border-width: 0 0 1px 0 !important; border-style: solid !important; border-color: var(--boja-granica) !important;}
label.unos input:focus {outline: none;}
label.unos input::placeholder {color: var(--boja-tekst);}
label.unos svg {grid-column: 2 / 3; grid-row: 1 / 2; margin: 13px; height: 30px; width: 30px;}
label.unos span.granica {grid-column: 2 / 3; grid-row: 1 / 2; position: absolute; display: block; bottom: 0; width: 100%}

.accordion {padding: 18px; width: 100%; font-size: 15px; text-align: left; color: #444; outline: none; cursor: pointer; border: none; transition: 0.4s;}
.active, .accordion:hover {background-color: var(--boja-granica);}
.accordion:after {content: '\002B'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
.active:after {content: "\2212";}
.panel {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

.swiper {width: 100%; height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide img {display: block; background-color: var(--boja-pozadina); width: 100%; height: 100%; object-fit: cover; box-shadow: inset 0 0 10rem 10px rgba(155,155,155,0.1);}

@keyframes dropdown {
    0% {opacity: 0; transform: scaleY(0);}
    50% {opacity: 1;}
    100% {transform: scaleY(1);}
}
@keyframes flyout {
    0% {opacity: 0; transform: scaleX(0);}
    100% {opacity: 1; transform: scaleX(1);}
}