body {font-family: 'bc', sans-serif; font-size: 1rem; color: var(--boja-tekst);}

header {background-color: white; height: 80px; transition: all 0.4s ease; z-index: 2;}
header.skrolanje {position: sticky; top:0; background-color: rgba(255,255,255,0.9); transition: all 0.4s ease;}
header #trazi {display: none; position: absolute; top: 0; left: 0; right: 0; background-color: white; height: 140px; transition: all 0.4s ease; z-index: 1;}
header #trazi section h4 {font-size: 0.8rem; font-weight: 100; text-transform: uppercase; color: var(--boja-tekst-svjetlija);}
header #trazi section > a {height: 30px; width: 30px;}
header #trazi section > a svg {height: 30px; width: 30px;}
header > .pozadina {display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.41)}
header nav ul li {float: left; height: 30px; font-size: 0.8rem;}
header nav ul li a {display: inline-flex; align-items: center; padding-right: 10px; height: 30px;}
header nav ul li a:hover {text-decoration: none; color: var(--boja-tekst-svjetlija);}
header nav ul li a svg {height: 20px; width: 20px;}
header .traka {padding: 5px; border-bottom: 1px solid var(--boja-granica);}
header .traka nav.osnovno ul li:first-of-type {display: none;}
header .traka nav.info svg {margin-right: 5px;}
header .traka .osnovno .hamburger-meni {text-transform: uppercase;}
header .traka .osnovno .hamburger-meni ul li {height: auto; width: 100%; padding: 5px; font-size: 1rem; font-weight: 100;}
header .traka .osnovno .hamburger-meni ul li a {align-items: stretch; justify-content: space-between; padding: 0 15px 0 15px; height: auto; width: 100%;}
header .traka .osnovno .hamburger-meni ul li a span {line-height: 30px;}
header .traka .osnovno .hamburger-meni ul li:first-of-type a {padding: 0;}
header .meni {padding: 5px; border-bottom: 1px solid var(--boja-granica);}
header .meni nav {text-transform: uppercase;}
header .meni nav ul li:last-of-type {float: right;}
header .meni nav ul li:last-of-type span {margin-right: 10px;}

main {background-color: white; margin-bottom: 310px; padding: 5px 0 5px 0; z-index: 1;}
main section.sadrzaj {padding: 0 5px 0 5px;}
main div.traka {background-color: var(--boja-tekst); height: 30px; width: 100%;}

footer {position: fixed; left: 0; bottom: 0; right: 0; background-color: white; padding: 5px 0 5px 0;}
footer > nav {display: flex; justify-content: space-evenly; padding: 0 5px 0 5px;}
footer nav section h4 {font-weight: 100; text-transform: uppercase;}
footer nav section li {display: flex; align-items: center; padding: 3px 0 3px 0; width: 100%;}
footer nav section li span {font-size: 0.8rem; font-weight: 100; color: var(--boja-tekst-svjetlija);}
footer nav section li a:hover {text-decoration: none; color: var(--boja-tekst);}
footer nav section li svg {margin-right: 10px; height: 20px; width: 20px;}
footer nav section.pratite_nas li svg {height: 15px; width: 15px;}
footer > section {display: flex; align-items: center; padding: 5px; font-size: 0.8rem; color: var(--boja-tekst-svjetlija); border-top: 1px solid var(--boja-granica);}
footer > section a {flex-grow: 0.02;}
footer > section a svg {height: 50px; width: 50px;}

@media only screen and (min-width: 1000px) {

    header.skrolanje .meni nav {margin-left: 30px;}
    header.skrolanje .meni nav ul li:last-of-type {margin-right: 160px;}

}

@media only screen and (max-width: 1000px) {

    header {height: 50px;}

    header nav ul li {height: 40px;}
    header nav ul li a {height: 40px;}
    header nav ul li a svg {height: 30px; width: 30px;}
    header .traka nav.osnovno ul li:first-of-type {display: initial; height: 40px; width: 40px;}
    header .traka nav.osnovno ul li label input::placeholder {font-size: 0.6rem;}
    header .traka .osnovno .hamburger-input {height: 40px; width: 40px; position: absolute; top: 5px; left: 5px; cursor: pointer; opacity: 0; z-index:3;}
    header .traka .osnovno .hamburger {position: absolute; top: 5px; left: 5px; display: flex; height: 40px; width: 40px; padding: 0.6rem;  align-items: center; justify-content: center;}
    header .traka .osnovno .hamburger-meni {position: fixed; top: 0; left: 0; bottom: 0; width: 0; border-right: 1px solid var(--boja-granica); visibility: hidden; transition: all 0.4s ease;}
    header .traka .osnovno .hamburger-meni ul {visibility: hidden;}
    header .traka .osnovno .hamburger-input:checked ~ .hamburger-meni {background-color: white; width: 300px; visibility: visible; z-index:2;}
    header .traka .osnovno .hamburger-input:checked ~ .hamburger-meni ul {visibility: visible;}
    header .traka .osnovno .hamburger-input:checked ~ .pozadina {position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.41)}

    main {margin-bottom: 0;}

    footer {position: initial;}
    footer > nav {flex-direction: column;}
    footer nav section h4 {margin: 0; text-align: center;}
    footer nav section li {justify-content: center; padding: 10px 0 10px 0;}
    footer .accordion2 {padding: 18px; width: 100%; font-size: 15px; color: #444; outline: none; cursor: pointer; border: none; transition: 0.4s;}
    footer .active, footer .accordion2:hover {background-color: var(--boja-granica);}
    footer .accordion2:after {content: '\002B'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
    footer .panel2 {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}

}

label.unos {position: relative; display: grid; grid-template-columns: auto 56px; grid-gap: 0;}
label.unos input {grid-column: 1 / 2; grid-row: 1 / 2; padding: 8px; height: 56px; width: 100%; border-width: 0 0 1px 0 !important; border-style: solid !important; border-color: var(--boja-granica) !important;}
label.unos input:focus {outline: none;}
label.unos input::placeholder {color: var(--boja-tekst);}
label.unos svg {grid-column: 2 / 3; grid-row: 1 / 2; margin: 13px; height: 30px; width: 30px;}
label.unos span.granica {grid-column: 2 / 3; grid-row: 1 / 2; position: absolute; display: block; bottom: 0; width: 100%}

.accordion {padding: 18px; width: 100%; font-size: 15px; text-align: left; color: #444; outline: none; cursor: pointer; border: none; transition: 0.4s;}
.active, .accordion:hover {background-color: var(--boja-granica);}
.accordion:after {content: '\002B'; float: right; margin-left: 5px; font-weight: bold; color: var(--boja-tekst);}
.active:after {content: "\2212";}
.panel {max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}