:root {
    --boja-tekst: #141414;
    --boja-tekst-svjetlija: #888888;
    --boja-granica: #E5E5E5;
    --boja-svjetlija: #f2f2f2;
    --boja-pozadina: #f0f0f0;
    --boja-crvena: #f54337;
    --boja-zelena: #25a799;
}