:root {
    --boja-placeholder: #9e9e9e;
    --boja-na: #00688b  ;
    --boja-na-rgba: rgba(0, 104, 139, 1);
    --boja-na-svjetlije: #3286a2;
    --boja-na-tamnije: #00536f;
    --boja-pozadina: #ffffff;
    --boja-pozadina_tamna: #162125;
    --boja-pozadina_svijetla: #f6f6f6;
    --boja-tekst-tamnije: #162125;
    --boja-pozadina_tamna_total: #121A1D;
    --boja-tekst-malo-tamnije: #444444;
    --boja-tekst: #777777;
    --boja-tekst-svjetlije: #A0A3A4;
    --boja-granica: #E9E9E9;
}